.combo-box { 
    width: 25vh;
    margin: auto;
    padding-top: 30px;
    
}
select{
    border-radius: 5px;
    background-color: inherit;
    color: #fff;
    border: solid 2px #fff;
    opacity: 0.6;
}
select:hover{
    opacity: 1;
    cursor: pointer;
}
option{
    background-color: #333;
}